* {
  padding: 0;
  margin: 0;
  /* box-sizing: border-box; */
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  background-color: #f1f1f1;
}

.load {
  position: relative;
  width: 200px;
  height: 200px;
  box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.25), -20px -20px 25px 10px #ffffff,
    inset 10px 10px 25px rgba(0, 0, 0, 0.25),
    inset -20px -20px 25px 10px #ffffff;
  border-radius: 50%;
  overflow: hidden;
  border: 4px solid #f1f1f1;
}

.load::before {
  content: "Loading ...";
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 3px;
  position: absolute;
  background: #f1f1f1;
  left: 25px;
  top: 25px;
  bottom: 25px;
  right: 25px;
  border: 4px solid #f1f1f1;
  z-index: 10;
  border-radius: 50%;
  box-shadow: inset 10px 10px 25px rgba(0, 0, 0, 0.25),
    inset -20px -20px 25px 10px #ffffff;
}

.load span {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(#673ab7, #f44336, #ffeb3b);
  border-radius: 50%;
  filter: blur(20px);
  animation: rotatAnimation 0.5s infinite linear;
  z-index: 9;
}

@keyframes rotatAnimation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
